<app-error-message [error]="error"></app-error-message>
<app-loader [loading]="loading"></app-loader>
<div *ngIf="!loading" class="p-3" style="height: 2400px">
  <h5 class="text-danger" style="padding-left: 1rem">
    Please review your order
  </h5>
  <app-customer-information
    [parsedAddress]="selectedParsedAddress$ | async"
    [creditForm]="creditForm$ | async"
  ></app-customer-information>
  <iframe
    style="width: 100%; height: 100%"
    [attr.srcDoc]="billPreviewHtml"
  ></iframe>
  <div class="d-flex justify-content-end m-4">
    <button (click)="placeOrder()" class="btn btn-danger btn-lg" type="button">
      Place Order
    </button>
  </div>
</div>
