<app-loader [loading]="loading"></app-loader>
<app-error-message [error]="error"></app-error-message>
<app-offer-summary
  [offers]="getSelectedOffersForReview()"
  (goBack)="showReviewPage = false"
  (submitOffers)="onContinue()"
  *ngIf="showReviewPage"
></app-offer-summary>
<div *ngIf="!showReviewPage && !loading && offers.length > 0">
  <div class="row">
    <div>
      <div class="alert alert-success p-3" role="alert">
        <h5 class="alert-heading text-center">Showing offers for address</h5>
        <h6 class="text-center">
          {{ selectedParsedAdress$ | async }}
        </h6>
      </div>
    </div>
  </div>
  <app-categories
    (onSelectCategoryEvent)="onSelectCategory($event)"
    [categories]="categories"
  ></app-categories>
  <div class="row row-cols-1 row-cols-md-3 g-5 p-3">
    <div class="col" *ngFor="let offer of offers">
      <app-offer-detail
        [loading]="loading"
        [offer]="offer"
        (selectEvent)="select($event)"
        (removeEvent)="removeProduct($event)"
      ></app-offer-detail>
    </div>
  </div>
  <app-continue-button
    [name]="'Review Offers'"
    (onContinueEvent)="reviewOffers()"
  >
  </app-continue-button>
</div>
