<div *ngIf="loading" style="display: flex; justify-content: center">
  <div
    class="spinner-border text-primary"
    role="status"
    style="width: 4rem; height: 4rem"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<app-error-message [error]="error"></app-error-message>
<ngb-alert *ngIf="alert" [type]="alert.type" (closed)="alert = null">
  <p class="alert-heading">
    <fa-icon class="mx-3" [icon]="faExclamationTriangle"></fa-icon
    >{{ alert.message }}
  </p>
</ngb-alert>

<div *ngIf="!loading">
  <div *ngIf="offers.length > 0" class="row">
    <div>
      <div class="alert alert-success p-3" role="alert">
        <h4 class="alert-heading text-center">Showing offers for address</h4>
        <h6 class="text-center">
          {{ selectedParsedAdress$ | async }}
        </h6>
      </div>
    </div>
  </div>
  <app-categories
    (onSelectCategoryEvent)="onSelectCategory($event)"
    [categories]="categories"
  ></app-categories>
  <div class="row row-cols-1 row-cols-md-3 g-5 p-3">
    <div class="col" *ngFor="let offer of offers">
      <app-offer-detail
        [offer]="offer"
        (selectEvent)="select($event)"
        (removeEvent)="removeProduct($event)"
      ></app-offer-detail>
    </div>
  </div>
  <div class="d-grid gap-2">
    <button
      *ngIf="!error"
      (click)="onContinue()"
      class="btn btn-outline-danger btn-lg"
      type="button"
    >
      Continue
    </button>
  </div>
</div>
