<app-error-message [error]="error"></app-error-message>
<app-loader [loading]="loading"></app-loader>
<ng-container *ngIf="!loading">
  <div class="alert alert-info" role="alert">
    <h5 class="alert-heading">Schedule</h5>
    <hr />
    <p>Please select a time for installation.</p>
  </div>
  <div class="row g-3">
    <div class="col-md-12">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
    <div *ngIf="selectedEvent" class="col-md-12">
      <div>
        <div class="alert alert-secondary text-center" role="alert">
          <div>
            Your selected Appointment will be on
            <strong> {{ getInstallationDate(selectedEvent) }}</strong>
          </div>
          <div>
            Between <strong>{{ parseTime(selectedEvent.startStr) }}</strong> and
            <strong>{{ parseTime(selectedEvent.endStr) }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-continue-button
    (onContinueEvent)="submitSchedule(selectedEvent)"
  ></app-continue-button>
</ng-container>
