<ng-container *ngIf="order$ | async as order">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Your order has been submitted successfully.</h4>
    <hr />
    <p>
      Frontier Order Number:
      <strong class="text-danger" style="font-size: 1.5rem">{{
        order.orderId
      }}</strong>
    </p>
  </div>
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Order Status:</strong>
          <p class="d-inline ms-1">{{ order.orderStatus }}</p>
        </li>
        <li class="list-group-item">
          <strong>Frontier Order Number:</strong>
          <h5 class="d-inline ms-1 text-danger">{{ order.orderId }}</h5>
        </li>
        <li class="list-group-item">
          <strong>Order Reference:</strong>
          <p class="d-inline ms-1 text-primary">{{ order.orderReference }}</p>
        </li>
        <li class="list-group-item">
          <strong> Infinity Internal Transaction Id:</strong>
          <p class="d-inline ms-1 text-primary">{{ transactionId$ | async }}</p>
        </li>
      </ul>
    </div>
  </div>
</ng-container>

<!-- <app-error-message [error]="error"></app-error-message>
<div *ngIf="loading" style="display: flex; justify-content: center">
  <div
    class="spinner-border text-primary"
    role="status"
    style="width: 4rem; height: 4rem"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div *ngIf="!loading" style="height: 2400px">
  <iframe
    style="width: 100%; height: 100%"
    [attr.srcDoc]="billPreviewHtml"
  ></iframe>
  <div class="d-grid gap-2 my-4">
    <button (click)="placeOrder()" class="btn btn-danger btn-lg" type="button">
      Place Order
    </button>
  </div>
</div> -->
