<app-error-message [error]="error"></app-error-message>
<app-credit-result
  [creditCheckResult]="creditCheckResult$ | async"
  (onContinue)="navigateToCustomization()"
  *ngIf="displayCreditResult(creditCheckResult$ | async)"
>
</app-credit-result>
<app-challenge-questions
  [creditCheckResult]="creditCheckResult$ | async"
  (onContinue)="submitChallengeQuestions($event)"
  *ngIf="displayQuestionsForm(creditCheckResult$ | async)"
>
</app-challenge-questions>
<ng-container *ngIf="!displayCreditCheckResult(creditCheckResult$ | async)">
  <div class="alert alert-info" role="alert" *ngIf="!loading">
    <h6 class="alert-heading">
      <fa-icon class="mr-2" [icon]="faComment"></fa-icon> Mandatory verbatim
      disclosure:*
    </h6>
    <hr />
    <p>
      To continue, I may need to use your existing credit information on file
      with other AT&T Companies. Is that ok?
    </p>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        (change)="showForm = true"
        [checked]="showForm"
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Yes, Credit Check authorization granted
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        [checked]="showForm === false"
        (change)="showForm = false"
        id="flexCheckChecked"
      />
      <label class="form-check-label" for="flexCheckChecked"> No </label>
    </div>
  </div>
  <ngb-alert
    *ngIf="alertMessage"
    [type]="success"
    (closed)="alertMessage = null"
    >{{ alertMessage }}</ngb-alert
  >
  <ngb-accordion
    *ngIf="showForm"
    #accordion="ngbAccordion"
    activeIds="create-account-panel"
  >
    <ngb-panel id="create-account-panel">
      <ng-template ngbPanelHeader>
        <div class="d-flex align-items-center justify-content-between">
          <h6 class="mx-2 text-secondary">Create your account</h6>
          <div>
            <button
              [disabled]="loading"
              *ngIf="accountFormValues"
              ngbPanelToggle
              class="btn btn-sm btn-outline-primary ml-2"
            >
              Edit
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-account
          [loading]="loading"
          [accountFormValues]="accountFormValues"
          (submitAccountForm)="submitAccountForm($event)"
        ></app-account>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="verify-identity-panel">
      <ng-template ngbPanelHeader>
        <div class="d-flex align-items-center justify-content-between">
          <h6 class="mx-2 text-secondary">Verify your identity</h6>
          <div>
            <button
              [disabled]="loading"
              *ngIf="identityFormValues"
              ngbPanelToggle
              class="btn btn-sm btn-outline-primary ml-2"
            >
              Edit
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-identity
          [loading]="loading"
          [identityFormValues]="identityFormValues"
          (submitIdentityForm)="submitIdentityForm($event)"
        ></app-identity>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <app-test-case-selector
    [testCases]="creditCheckTestCases"
    (selectTestCase)="onSelectTestCase($event)"
  >
  </app-test-case-selector>
</ng-container>
