<app-error-message [error]="error"></app-error-message>
<app-credit-result
  [creditCheckResult]="creditCheckResult$ | async"
  (onContinue)="navigateToCustomization()"
  *ngIf="displayCreditResult(creditCheckResult$ | async)"
>
</app-credit-result>
<app-challenge-questions
  [creditCheckResult]="creditCheckResult$ | async"
  (onContinue)="submitChallengeQuestions($event)"
  *ngIf="displayQuestionsForm(creditCheckResult$ | async)"
>
</app-challenge-questions>
<ng-container *ngIf="!displayCreditCheckResult(creditCheckResult$ | async)">
  <div class="alert alert-info" role="alert">
    <h6 class="alert-heading">
      <fa-icon class="mr-2" [icon]="faComment"></fa-icon> Mandatory verbatim
      disclosure:*
    </h6>
    <hr />
    <p>
      Before I start your order, I will need to initiate a credit check or use
      your existing credit information on file with Frontier companies. Is that
      okay?
    </p>
    <div class="form-check">
      <input
        [disabled]="loading"
        class="form-check-input"
        type="checkbox"
        (change)="showForm = !showForm"
        [checked]="showForm"
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Yes, Credit Check authorization granted
      </label>
    </div>
  </div>
  <ngb-alert
    *ngIf="alertMessage"
    [type]="success"
    (closed)="alertMessage = null"
    >{{ alertMessage }}</ngb-alert
  >
  <app-credit-form
    *ngIf="showForm"
    [loading]="loading"
    [creditFormValues]="creditFormValues"
    (submitCreditForm)="submitCreditCheckInformation($event)"
  ></app-credit-form>

  <app-test-case-selector
    [testCases]="creditCheckTestCases"
    (selectTestCase)="onSelectTestCase($event)"
  >
  </app-test-case-selector>
</ng-container>
