<div class="card">
  <div class="card-img-top bg-primary p-4">
    <strong class="d-block text-white text-center">{{ offer.name }}</strong>
  </div>
  <div *ngIf="offer.dataspeed" class="card-body">
    <h5 class="card-title text-center">Speed</h5>
    <div class="row text-center">
      <div class="col-md-6">
        <fa-icon class="display-6 text-danger" [icon]="faDownload"></fa-icon>
        <p>{{ offer.dataspeed.downloadInKbps / 1000 }} Mbps</p>
      </div>
      <div class="col-md-6">
        <fa-icon class="display-6 text-danger" [icon]="faUpload"></fa-icon>
        <p>{{ offer.dataspeed.uploadInKbps / 1000 }} Mbps</p>
      </div>
    </div>
  </div>
  <ul
    class="list-group list-group-flush"
    *ngFor="let priceTerm of offer.pricePlan.priceTerm"
  >
    <!-- Offer has discount -->
    <li
      *ngIf="offerService.priceTermHasDiscount(priceTerm)"
      class="list-group-item"
    >
      <p class="text-center text-danger" style="text-decoration: line-through">
        $ {{ priceTerm.amount }} /mo
      </p>
      <h4 class="text-center text-danger">
        $
        {{ offerService.getReducedPrice(priceTerm) }}
        /mo
      </h4>
    </li>
    <!-- Offer does not have discount -->
    <li
      *ngIf="!offerService.priceTermHasDiscount(priceTerm)"
      class="list-group-item mt-2"
    >
      <h4 class="text-center text-danger">$ {{ priceTerm.amount }} /mo</h4>
    </li>
    <!-- if has discount -->
    <li
      *ngIf="offerService.priceTermHasDiscount(priceTerm)"
      class="list-group-item text-center"
    >
      <strong style="font-style: italic">
        Price for
        {{ offerService.getBestDiscount(priceTerm).durationInMonths }} months
      </strong>
    </li>
    <!-- does not have discount -->
    <li
      *ngIf="!offerService.priceTermHasDiscount(priceTerm)"
      class="list-group-item text-center"
    >
      <strong style="font-style: italic">
        Price for
        {{ priceTerm.durationInMonths }} months
      </strong>
    </li>
  </ul>
  <div class="card-body text-center">
    <div class="text-center">
      <button
        [disabled]="loading"
        (click)="openOffersDetailsModal(content)"
        type="button"
        class="btn btn-link my-2"
      >
        See Offer Details
      </button>
    </div>

    <button
      [disabled]="loading"
      *ngIf="!offer.selected"
      (click)="addProduct(offer)"
      type="button"
      class="btn btn-danger"
    >
      Add to Order
    </button>
    <button
      [disabled]="loading"
      *ngIf="offer.selected"
      (click)="deleteProduct(offer)"
      type="button"
      class="btn btn-dark"
    >
      Remove from Order
    </button>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-danger" id="modal-basic-title">
      Offer Details
    </h4>
    <button
      (click)="modal.dismiss()"
      type="button"
      class="btn btn-danger btn-sm"
    >
      <fa-icon class="mx-1" [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ offer.description }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close()">
      Close
    </button>
  </div>
</ng-template>
