<div class="row p-2">
  <div class="col-md-9">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        (change)="selectOption()"
        [checked]="childEntity.Active"
        id="{{ childEntity.ID }}"
      />
      <label
        style="cursor: pointer"
        class="form-check-label"
        for="{{ childEntity.ID }}"
      >
        {{ childEntity.Name }}
      </label>
    </div>
  </div>
  <div class="col-md-3">
    <ng-container *ngFor="let price of childEntity.Price">
      <div *ngIf="price.rateNonRecurring">
        <strong class="text-danger">
          {{ price.rateNonRecurring | currency }} / One Time</strong
        >
      </div>
      <div *ngIf="price.rateRecurring">
        <strong class="text-danger">
          {{ price.rateRecurring | currency }} / Monthly</strong
        >
      </div>
    </ng-container>
  </div>
</div>
