<fa-icon
  *ngIf="!childEntity.Active"
  class="mx-2"
  (click)="childEntity.Active = canActivate()"
  [icon]="faSquare"
></fa-icon>
<fa-icon
  (click)="childEntity.Active = false"
  *ngIf="childEntity.Active"
  class="mx-2"
  [icon]="faCheckSquare"
></fa-icon>
<label class="form-check-label">{{ childEntity.Name }}</label>
<ng-container *ngFor="let price of childEntity.Price">
  <p *ngIf="price.rateNonRecurring">
    One Time Price : {{ price.rateNonRecurring }}
  </p>
  <p *ngIf="price.rateRecurring">
    Monthly Price : {{ price.rateRecurring }}
  </p></ng-container
>
