<app-error-message [error]="error"></app-error-message>
<app-loader [loading]="loading"></app-loader>
<ng-container *ngIf="!loading">
  <div class="alert alert-info" role="alert">
    <h6 class="alert-heading">Disclosures</h6>
    <p>Please accept all disclosures to continue</p>
  </div>
  <div *ngIf="loading" class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <ngb-accordion #accordion="ngbAccordion" closeOthers="true">
    <ng-container *ngFor="let disclosure of disclosures">
      <ngb-panel id="{{ disclosure.name }}" title="{{ disclosure.name }}">
        <ng-template ngbPanelHeader>
          <button ngbPanelToggle class="btn btn-link">
            {{ disclosure.name }}
          </button>
          <div
            *ngIf="disclosure.status == 'ACCEPT'"
            class="alert alert-success"
            role="alert"
          >
            Disclosure Accepted
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-disclosure-item
            (onAcceptDisclosure)="toggleDisclosure($event)"
            [disclosure]="disclosure"
          ></app-disclosure-item>
        </ng-template>
      </ngb-panel>
    </ng-container>
  </ngb-accordion>

  <div class="mt-4">
    <button
      class="btn btn-info"
      *ngIf="!production"
      (click)="acceptAllDisclosures()"
    >
      Accept all disclosures
    </button>
    <app-continue-button (onContinueEvent)="submitDisclosures()">
    </app-continue-button>
  </div>
</ng-container>
