<div class="modal-header">
  <h4 class="modal-title">{{ childEntity.Name }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form
    class="row g-3"
    (ngSubmit)="onSubmit()"
    #configurationForm="ngForm"
    [ngClass]="this.submitted ? 'was-validated' : ''"
  >
    <div class="col-md-6" *ngFor="let configureValue of configurationValues">
      <label for="inputEmail4" class="form-label">{{
        configureValue.Name
      }}</label>
      <input
        required="{{ configureValue.Mandatory }}"
        [(ngModel)]="configureValue.Value[0].Value"
        name="{{ configureValue.Name }}"
        type="text"
        class="form-control"
        id="inputEmail4"
      />
      <div class="invalid-feedback">
        The field {{ configureValue.Name }} is required.
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <!-- <button type="button" class="btn btn-danger me-3" (click)="clearForm()">
        Clear Form
      </button> -->
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
