<div class="modal-header">
  <h4 class="modal-title">{{ childEntity.Name }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="row g-3">
    <div class="col-md-6" *ngFor="let configureValue of ConfiguredValues">
      <label for="inputEmail4" class="form-label">{{
        configureValue.Name
      }}</label>
      <input
        [attr.required]="configureValue.Mandatory"
        type="text"
        class="form-control"
        id="inputEmail4"
      />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
