<div class="card my-2">
  <div class="card-body">
    <h5 class="card-title">{{ disclosure.name }}</h5>
    <pdf-viewer
      [src]="disclosure.assistedUrl"
      [render-text]="true"
      style="display: block"
    ></pdf-viewer>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <button
      *ngIf="!isDisclosureAccepted()"
      (click)="acceptDisclosure()"
      class="btn btn-outline-primary btn-lg"
    >
      Accept
    </button>
    <div
      *ngIf="isDisclosureAccepted()"
      class="alert alert-success"
      role="alert"
    >
      Disclosure accepted
    </div>
  </div>
</div>
