<app-error-message [error]="error"> </app-error-message>
<div class="alert alert-info" role="alert">
  Please answer the following questions
</div>
<ul class="list-group list-group-numbered">
  <li
    *ngFor="
      let question of creditCheckResult.fraudPrevention
        .securityChallengeQuestions
    "
    class="list-group-item"
  >
    <strong>{{ question.question }}</strong>
    <ul class="my-2 list-group list-group">
      <li class="list-group-item" *ngFor="let answer of question.answerChoices">
        <input
          [checked]="answer.number === question.answerChoiceNumber"
          (change)="question.answerChoiceNumber = answer.number"
          class="form-check-input me-1"
          type="checkbox"
          value=""
        />
        {{ answer.text }}
      </li>
    </ul>
  </li>
</ul>
<div class="mt-3">
  <app-continue-button
    (onContinueEvent)="submitQuestions()"
    [name]="'Submit Answers'"
  ></app-continue-button>
</div>
