.priceNumber {
  font-size: 36px;
  color: rgb(88, 89, 91);
}

.priceCents {
  font-size: 14px;
  color: rgb(88, 89, 91);
}

.shortDisclosure {
  margin: 0px;
  font-size: 9px;
  color: rgb(88, 89, 91);
}

.descriptionItem {
  margin: 0px;
  font-size: 10px;
  color: rgb(88, 89, 91);
}
.planCardHeader {
  background-color: rgb(1, 49, 95);
  padding: 32px 16px;
  text-align: center;
}
