<div class="card" *ngIf="childEntity.isContainer && childrenHasAction()">
  <div
    class="card-header text-link"
    [ngClass]="
      childEntityHelperService.isCustomizationCompleteFunctional(childEntity)
        ? 'success'
        : 'error'
    "
  >
    {{ childEntity.Name }}
  </div>
  <div class="card-body">
    <ng-container *ngFor="let iterateChildEntity of childEntity.ChildEntity">
      <app-child-option
        *ngIf="iterateChildEntity.hasAction"
        [childEntity]="iterateChildEntity"
        [parentEntity]="childEntity"
      ></app-child-option>
    </ng-container>
  </div>
</div>

<ng-container *ngFor="let iterateChildEntity of childEntity.ChildEntity">
  <app-child-entity
    class="mx-2"
    [childEntity]="iterateChildEntity"
    [parentEntity]="childEntity"
  ></app-child-entity>
</ng-container>
