<div class="card">
  <h5 class="card-header bg-danger text-white text-center">
    Frontier Shopping Cart
  </h5>
  <ul class="list-group list-group-flush mt-3">
    <li class="list-group-item">
      <strong>Service at: </strong>6200 SW 24TH PL APT 103 DAVIE FL 33314
    </li>
    <li class="list-group-item"><strong>Customer: </strong> Franz Bascope</li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-6">
          <strong>Customer Phone: </strong> Franz Bascope
        </div>
        <div class="col-md-6">
          <strong>Customer Email: </strong> 305-549-0753
        </div>
      </div>
    </li>
  </ul>
</div>
