<app-error-message [error]="error"></app-error-message>
<app-loader [loading]="loading"></app-loader>
<ng-container *ngIf="!loading">
  <app-customization-result
    (goBack)="showResults = false"
    [monthlyCustomizations]="monthlyCustomizations | async"
    [oneTimeCustomizations]="oneTimeCustomizations | async"
    (submitCustomizations)="submitCustomizations(items)"
    *ngIf="showResults"
  >
  </app-customization-result>
  <ng-conainter *ngIf="!showResults">
    <ul
      ngbNav
      #nav="ngbNav"
      [(activeId)]="activeItem.id"
      class="nav nav-pills nav-fill"
    >
      <li
        [ngbNavItem]="item.id"
        class="me-2"
        *ngFor="let item of items | async"
      >
        <a ngbNavLink>{{ item.name }}</a>
        <ng-template ngbNavContent>
          <app-child-entity
            *ngFor="let childEntity of item.productConfiguration.ChildEntity"
            [childEntity]="childEntity"
            [parentEntity]="null"
          ></app-child-entity>
          <div class="mt-3">
            <app-continue-button
              *ngIf="!showSubmitButton(items | async)"
              (onContinueEvent)="continueCustomization()"
            ></app-continue-button>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    <app-continue-button
      *ngIf="showSubmitButton(items | async)"
      [name]="'Review Customizations'"
      (onContinueEvent)="showResults = true"
    >
    </app-continue-button>
  </ng-conainter>
</ng-container>
