<div class="alert alert-light" role="alert">
  <h5 class="alert-heading">Service Address</h5>
  <hr />
  <strong class="d-block mb-0 text-primary">{{ parsedAddress }}</strong>
</div>
<div class="alert alert-light mt-3" role="alert">
  <h5 class="alert-heading">Customer Information</h5>
  <hr />
  <div class="row g-3">
    <div class="col-md-4">
      <strong class="me-2">First Name:</strong>
      <p class="d-inline text-primary">{{ creditForm.firstName }}</p>
    </div>
    <div class="col-md-4">
      <strong class="me-2">Last Name:</strong>
      <p class="d-inline text-primary">{{ creditForm.lastName }}</p>
    </div>
    <div class="col-md-4">
      <strong class="me-2">Mobile Phone Number:</strong>
      <p class="d-inline text-primary">{{ creditForm.phoneNumber }}</p>
    </div>
    <div class="col-md-4">
      <strong class="me-2">Secondary Mobile Phone Number:</strong>
      <p class="d-inline text-primary">
        {{ creditForm.secondaryPhoneNumber }}
      </p>
    </div>
    <div class="col-md-4">
      <strong class="me-2">Email:</strong>
      <p class="d-inline text-primary">{{ creditForm.email }}</p>
    </div>
  </div>
</div>
